
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

.logonav {
  width: 60px;
}

.navcolor {
  background-color: #61B42D;
}

.titulo {
  margin-top: 8%;
  text-align: center;
}

.tituloInicio {
  margin-top: 7%;
}

.textoInicio {
  line-height: 1.7rem;
}

.subtitulo {
  margin-top: 5%;
  text-align: center;
}

.texto {
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
}

#formulario {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#contacto {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.Logo img{
  float: left;
  width: 100px;
  height: 100pxx;
  padding: 20px;
  margin-left: 25px;
  margin-top: -10px;
}

#imgExperiencia {
  width: 8rem;
  height: 8rem;
}

.imgInicio {
  border-radius: 30rem;
  width: 15rem;
  margin-top: 7%;
}

.img-carousel {
  height: 100%;
  width: 100%;
}

.cardPersonal {
  margin-top: 200px;
}

.color {
  background-color: grey;
}